#body #pm_latest.conversationPlaceholder header,
#body #pm_latest.conversationPlaceholder span,
#body #pm_latest.conversationPlaceholder section,
#body #conversation-view h1 {
  color: #d0d0d0;
  border-color: #005a6f;
}

#body #conversation-view h1 {
  border-left: 1px solid transparent;
}
#body #conversation-view .messageView-contaniner,
#body #conversation-view header {
  background-color: #002b36;
  border-color: #005a6f;
}

#body #conversation-view article.message {
  border-color: #005a6f;
}

#body #conversation-view .message .summary,
#body #conversation-view .message .summary-left,
#body #conversation-view .message .summary-right,
#body #conversation-view .message .time,
#body #conversation-view .message .status,
#body #conversation-view .message .details {
  background-color: #003847;
  border-color: #005a6f;
  color: #5c95a3;
}

#body #conversation-view .message .displayContentBtn-container  {
  background-color: #005a6f;
  color: #d0d0d0;
}

#body #conversation-view .message .displayContentBtn-container .displayContentBtn-button {
  background-color: #002b36;
  color: #d0d0d0;
  border: none;
}

#body #conversation-view .message .displayContentBtn-container .displayContentBtn-notice:before {
  color: #5c95a3;
}

#body #conversation-view .message .displayContentBtn-container .displayContentBtn-notice-text {
  color: #d0d0d0;
  font-weight: 200;
}
#body .plus {
  color: #d7ff00;
}

#body .logo:before {
  opacity: 0.6;
}

#body .pm_dropdown > a,
#body .pm_dropdown > button,
#body .pm_dropdown > ul > li {
  border-bottom: 1px solid #005a6f;
}

#body #pm_thread .pm_buttons a,
#body #pm_thread .pm_buttons button,
#body nav.pm_toolbar .pm_buttons a,
#body nav.pm_toolbar .pm_buttons button,
#body .pm_buttons > .pm_buttons-child.fa::before,
#body .pm_buttons > .pm_buttons-child > div {
  transition: none;
}

#body #pm_thread .pm_buttons a:hover,
#body #pm_thread .pm_buttons button:hover,
#body nav.pm_toolbar .pm_buttons a:hover,
#body nav.pm_toolbar .pm_buttons button:hover {
  color: #d0d0d0;
  background-color: #005a6f;
}

#body #pm_thread .pm_buttons a,
#body #pm_thread .pm_buttons button,
#body .pm_dropdown advancedFilterElement-content,
#body .pm_dropdown a:hover,
#body .pm_dropdown button:hover,
#body .pm_dropdown ul li:hover {
  color: #d0d0d0 !important;
  background-color: #005a6f !important;
}

#body .pm_dropdown .dropdown-label-container .dropdown-label-title,
#body .pm_dropdown .dropdown-folder-container .dropdown-folder-title {
  color: #00ffaf;
}

#body .pm_dropdown .dropdown-label-container .dropdown-label-search-input
#body .pm_dropdown .dropdown-folder-container .dropdown-folder-search-input {
  color: #fdf6e3;
  background-color: #002b36;
}

#body .pm_dropdown.pm_dropdown-opened,
#body .pm_dropdown .dropdown-label-container .scrollbox-container,
#body .pm_dropdown .dropdown-label-container .dropdown-label-create button,
#body .pm_dropdown .dropdown-label-container .dropdown-label-scrollbox-group-item,
#body .pm_dropdown .dropdown-label-container .scrollbox-container-group,
#body .pm_dropdown .dropdown-label-container .scrollbox-container-group button,
#body .pm_dropdown .dropdown-folder-container .scrollbox-container,
#body .pm_dropdown .dropdown-folder-container .dropdown-folder-create button,
#body .pm_dropdown .dropdown-folder-container .dropdown-folder-scrollbox-group-item,
#body .pm_dropdown .dropdown-folder-container .scrollbox-container-group,
#body .pm_dropdown .dropdown-folder-container .scrollbox-container-group button {
  background-color: #002b36 !important;
}

#body .pm_dropdown .dropdown-label-container .dropdown-label-create .createLabel-new-name i,
#body .pm_dropdown .dropdown-folder-container .dropdown-folder-create .dropdown-folder-create-value {
  color: #5fd7ff;
}

#body .dropdown-label-alsoArchive {
  border-top: 1px solid #005a6f;
  color: #d0d0d0;
}

#body .pm_dropdown .dropdown-label-container .scrollbox-container,
#body .pm_dropdown .dropdown-folder-container .scrollbox-container {
  border-top: 1px solid #005a6f;
  border-bottom: 1px solid #005a6f;
}


#body .pm_dropdown .dropdown-label-scrollbox-label,
#body .pm_dropdown .dropdown-label-scrollbox-label-text span {
  color: #d0d0d0;
  background-color: #002b36 !important;
}

#body .pm_dropdown > button {
  background-color: #002b36 !important;
}

#body .pm_buttons .disabled {
  box-shadow: none;
}

#body header.headerSecured-container {
  background-color: #002b36;
}

#body header .search-form-fieldset {
  background-color: #003847;
}

#body header .navigation-link .navigation-icon,
#body header .navigation-link .navigation-icons i,
#body header .navigation-link .navigation-title {
  color: #5c95a3;
}

#body #pm_view,
#body .conversation-wrapper,
#body header .headerSecuredDesktop-logo,
#body #pm_view #pm_placeholder,
#body #conversation-list-mobile .messagePlaceholder,
#body #conversation-list-columns .messagePlaceholder,
#body #conversation-list-rows .messagePlaceholder {
  background-color: #002b36;
}

#body #pm_view #pm_placeholder,
#body #conversation-list-mobile .messagePlaceholder,
#body #conversation-list-columns .messagePlaceholder,
#body #conversation-list-rows .messagePlaceholder {
  color: #5fd7ff;
}

#body #conversation-list-columns {
  border-right: 1px solid #005a6f;
}

#body #conversation-list-mobile .conversation-wrapper .conversation,
#body #conversation-list-columns .conversation-wrapper .conversation,
#body #conversation-list-rows .conversation-wrapper .conversation {
  border-bottom: 1px solid #005a6f;
}

#body #conversation-list-mobile .conversation-wrapper .conversation,
#body #conversation-list-mobile .conversation-wrapper .conversation .subject,
#body #conversation-list-columns .conversation-wrapper .conversation,
#body #conversation-list-columns .conversation-wrapper .conversation .subject,
#body #conversation-list-rows .conversation-wrapper .conversation,
#body #conversation-list-rows .conversation-wrapper .conversation .subject h4 {
  background-color: #004052;
  color: #d0d0d0;
  font-weight: 400;
}

#body #conversation-list-mobile .conversation-wrapper .conversation.read,
#body #conversation-list-mobile .conversation-wrapper .conversation.read .subject h4,
#body #conversation-list-columns .conversation-wrapper .conversation.read,
#body #conversation-list-columns .conversation-wrapper .conversation.read .subject h4,
#body #conversation-list-rows .conversation-wrapper .conversation.read,
#body #conversation-list-rows .conversation-wrapper .conversation.read .subject h4 {
  color: #5c95a3;
}

#body #conversation-list-mobile .conversation-wrapper .conversation.marked:before,
#body #conversation-list-columns .conversation-wrapper .conversation.marked:before,
#body #conversation-list-rows .conversation-wrapper .conversation.marked:before {
  background-color: #5fd7ff;
}

#body #conversation-list-mobile .conversation-wrapper .conversation .singleStar,
#body #conversation-list-columns .conversation-wrapper .conversation .singleStar,
#body #conversation-list-rows .conversation-wrapper .conversation .singleStar {
  color: #fdf6e3;
}

#body #conversation-list-mobile .conversation-wrapper .conversation .singleStar .starButton-unstar,
#body #conversation-list-columns .conversation-wrapper .conversation .singleStar .starButton-unstar,
#body #conversation-list-rows .conversation-wrapper .conversation .singleStar .starButton-unstar {
  color: #d7ff00;
}

#body nav.pm_toolbar,
#body section.sidebar {
  background-color: #003847;
}

#body #pm_main nav.pm_toolbar {
  box-shadow: inset 0 -1px 0 #005a6f;
}

#body #pm_thread .pm_buttons a,
#body #pm_thread .pm_buttons button,
#body nav.pm_toolbar .pm_buttons a,
#body nav.pm_toolbar .pm_buttons button {
  background-color: #002b36;
  color: #d0d0d0;
  margin-right: 2.5px;
  box-shadow: none;
  outline: none;
}

#body #pm_thread .pm_buttons,
#body #pm_thread .pm_buttons > *,
#body nav.pm_toolbar .pm_buttons,
#body nav.pm_toolbar .pm_buttons > * {
  border: none;
}

#body section.sidebar .navigationSettings-link,
#body section.sidebar .navigationSettings-link span,
#body section.sidebar .settingsMenu-item-donate span,
#body section.sidebar .navigationSettings-icon,
#body section.sidebar .navigationItem-title,
#body section.sidebar .navigationItem-icon,
#body section.sidebar .navigationItem-item {
  color: #5c95a3;
  font-weight: 500;
  font-size: 14.5px;
  letter-spacing: -0.2px;
  outline: none;
}

#body section.sidebar .active .navigationSettings-link,
#body section.sidebar .active .navigationSettings-link span,
#body section.sidebar .active .settingsMenu-item-donate span,
#body section.sidebar .active .navigationSettings-icon,
#body section.sidebar .active .navigationItem-title,
#body section.sidebar .active .navigationItem-icon,
#body section.sidebar .active .navigationItem-item .navigationItem-counter,
#body section.sidebar .active .navigationItem-item {
  background-color: #005a6f;
  color: #d0d0d0;
  outline: none;
}

#body section.sidebar .navigationItem-item .navigationItem-btn-refresh {
  color: #d0d0d0;
}

#body .sidebarApp-container .sidebar-btn-compose {
  border: 1px solid #00ff87;
  color: #00ff87;
  background-color: #003847;
  margin: 15px 0;
}

#body .sidebarApp-container .sidebar-btn-compose:hover {
  border: 1px solid #5fd7ff;
  color: #5fd7ff;
}

#body .sidebarApp-container .sidebar-btn-back {
  border: 1px solid #00ff87;
  color: #00ff87;
  margin: 15px 0;
}

.proton-notification-template.cg-notify-message.notification-success.cg-notify-message-center {
  background-color: #005a6f;
  border-color: #585858;
  box-shadow: inset 0 -1px 0 1px rgba(0,0,0,0), 0 1px 1px rgba(0,0,0,0);
  color: #d0d0d0 !important;
}
